*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container{
    max-width: 1320px;
    margin: 0 auto;
}
.row{
    display: flex;
    flex-wrap: wrap;
    padding-right: -12px;
    padding-left: -12px;
}
.col-1{
    width: 8.33% ;
}
.col-2{
    width: 16.66%;
}
.col-3{
    width: 25%;
}
.col-4{
    width:33.33% ;
}
.col-5{
    width:41.66% ;
}
.col-6{
    width: 50%;
}
.col-7{
    width: 58.33%;
}
.col-8{
    width: 66.66%;
}
.col-9{
    width:75% ;
}
.col-10{
    width:83.33% ;
}
.col-11{
    width:91.66% ;
}
.col-12{
    width: 100%;
}
.col-2-5{
    width: 20%;
}
.col-1,.col-2,.col-3,.col-4,.col-5,.col-6,.col-7,.col-8,.col-9,.col-10,.col-11,.col-12,.col-2-5{
    padding-left: 12px;
    padding-right: 12px;
}
.d-flex{
    display: flex;
    flex-wrap: wrap;
}
.j-center{
    justify-content: center;
}
.a-center{
    align-items: center;
}
.j-btw{
    justify-content: space-between;
}
.R-1{
    border: 1px solid black;
    padding: 10px;
}
.R-1 .row p{
    background-color:antiquewhite;
    color: black;
    font-size: 18px;
    padding: 10px;
    margin-bottom: 10px;
}
.R-2 .row p{
    padding: 10px;
    background-color: lightseagreen;
    color: black;
    font-size: 18px;
    margin-bottom: 10px;
}
.R-2{
    margin-top: 10px;
    border: 1px solid black;
    padding: 10px;
}
.R-3{
    margin-top: 10px;
    border: 1px solid black;
    padding: 10px;
}
.R-3 .row p{
    padding: 10px;
    background-color: lightcoral;
    color: black;
    font-size: 18px;
    margin-bottom: 10px;
}
.R-4{
    margin-top: 10px;
    border: 1px solid black;
    padding: 10px;
}
.R-4 .co{
    background-color: aquamarine;
    padding: 10px;
}
.R-4 .row p{
    padding: 10px;
    background-color: lightgreen;
    color: black;
    font-size: 18px;
    margin-bottom: 10px;
}
.R-5{
    margin-top: 10px;
    border: 1px solid black;
    padding: 10px;
}
.R-5 .co1{
    background-color: lightsteelblue;
    padding: 10px;
}
.R-5 .row p{
    padding: 10px;
    background-color: lightsalmon;
    color: black;
    font-size: 18px;
    margin-bottom: 10px;
}